@import './backgrounds.scss';

.wrap {
    margin: 20px;
    padding: 10px;
    max-width: 600px;

    background-color: rgb(255, 241, 253);
    border: 1px solid rgba(50, 50, 50, .5);
    box-shadow: 2px 2px 20px #0a0a0a3f;
}

.font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color:rgb(19, 46, 85);
}

.h1-wrap {
    display: flex;
}

.h1 {
    margin-right: 30px;
    font-size: 24px;
    font-weight: 700;
}

.joke {
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
}

.refresh {
    display: block;

    margin: auto 0;
    padding: 5px 15px;

    color: rgb(11, 19, 20);
    background-color: rgb(205, 234, 241);
    border: 1px solid rgba(50, 50, 50, .5);
}

.refresh:hover {
    background-color: rgb(124, 215, 238);
}

.refresh:active {
    background-color: rgb(61, 190, 223);
}